.main {
  font-size: 1.5rem;
  width: 100%;
  background-color: ghostwhite;

  &__container {
    padding: 1rem 3rem;
  }

  &__title {
    color: var(--very-dark-blue);
    text-align: center;
    font-size: 4rem;
    padding-top: 10rem;
  }

  &__content {
    text-align: center;
    line-height: 4rem;
    max-width: 650px;
    margin: 3rem auto;
    font-size: 1.9rem;
    color: var(--gray);
  }

  &__cards {
    position: relative;
    max-width: 1450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5rem;
    z-index: 200;
  }

  &__card {
    padding: 4rem;
    background-color: white;
    border-radius: 5px;
    position: relative;

    &-circle {
      top: 0;
      left: 38px;
      margin-top: -52px;
      background-color: var(--dark-violet);
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
    }

    &-logo {
      position: absolute;
      width: 50px;
    }

    &-title {
      margin-top: 3rem;
      font-size: 3rem;
      font-weight: 500;
    }

    &-content {
      margin-top: 2rem;
      font-size: 1.5rem;
      color: var(--gray);
    }
  }

  &__card-2 {
    margin-top: 10rem;
  }

  &__card-3 {
    margin-top: 20rem;
  }
}

.ligne {
  height: 9px;
  width: 100%;
  background-color: var(--cyan);
  position: absolute;
  top: 57%;
  z-index: -200;
}
