#menuToggle {
  @include respond(only-phone) {
    visibility: hidden;
  }

  display: block;
  position: absolute;
  top: 38px;
  right: 38px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--cyan);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #232323;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 40px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(50%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: translate(-40%, 0);
}

.nav {
  max-width: 1550px;
  padding: 1rem 3rem;

  @include respond(tab-land) {
    padding: 1rem 3rem;
  }
  @include respond(phone) {
    padding: 1rem;
  }

  margin: 0 auto;
  font-family: "Poppins";
  list-style: none;
  display: flex;
  justify-content: space-between;

  &__items {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 2rem;
    height: 4rem;
  }

  &__link {
    @include respond(tab-land) {
      margin: 0 1rem;
    }

    @include respond(phone) {
      visibility: hidden;
    }

    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 2rem;
    transition: all 0.2s;

    &:link,
    &:visited {
      text-decoration: none;
      color: var(--gray);
    }

    &:hover {
      color: var(--very-dark-blue);
    }
  }

  &__link:hover {
    color: var(--very-dark-blue);
  }

  &__log {
    @include respond(tab-land) {
      margin: 1rem;
    }

    @include respond(phone) {
      visibility: hidden;
    }

    display: flex;
    align-items: center;
    list-style: none;
    margin: 2rem;
  }

  &__log-login {
    @include respond(tab-land) {
      margin: 0 2rem;
    }

    margin: 0 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.2s;
    color: var(--gray);
    cursor: pointer;

    &:link,
    &:visited {
      text-decoration: none;
      color: var(--gray);
    }

    &:hover {
      color: var(--very-dark-blue);
    }
  }

  &__log-button {
    background-color: var(--cyan);
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    border-radius: 200px;
    border: none;
    width: 11rem;
    height: 4.2rem;
    cursor: pointer;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: var(--cyan-light);
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
