.short-container {
  padding: 1rem 3rem;
}

.short {
  @include respond(phone) {
    padding: 1rem;
    height: 20rem;
  }
  background-color: var(--dark-violet);
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  position: relative;
  max-width: 1550px;
  height: 14rem;
  border-radius: 10px;
  margin: 0 auto -60px;

  z-index: 50;

  display: grid;
  padding: 4rem;

  &__form {
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    width: 100%;
    display: flex;
  }

  &__search {
    @include respond(phone) {
      width: 90%;
      height: 6rem;
      border-radius: 5px;
    }

    border-radius: 20px;
    width: 80%;
    font-size: 2rem;
    padding-left: 2rem;

    &::placeholder {
      font-size: 2rem;
    }

    &:focus {
      outline: none;

      border: solid 2px var(--red);
    }

    &:focus::placeholder {
      opacity: 0.5;
      color: var(--red);
    }
  }

  &__button {
    @include respond(phone) {
      border-radius: 5px;
      width: 90%;
      margin-left: 0;
      margin-top: 2rem;
      height: 6rem;
    }

    width: 15%;
    margin-left: 20px;
    background-color: var(--cyan);
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: var(--cyan-light);
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

// .shorten-links {
//   padding: 10rem;
// }

.result {
  margin-top: 6rem;
  @include respond(phone) {
    padding: 2rem;
  }

  &__content {
    @include respond(phone) {
      flex-direction: column;

      &::before {
        content: "";
        position: absolute;
        top: 5rem;
        left: 0;
        width: 101%;
        height: 1px;
        background-color: var(--gray-light);
      }
    }

    background-color: white;

    position: relative;
    max-width: 1550px;

    border-radius: 10px;
    margin: 2.5rem auto;
    padding: 2rem;

    display: flex;
  }

  &__links {
    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
      width: 85%;
    }

    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__old {
    width: 100%;
    overflow: hidden;
  }

  &__new {
    @include respond(phone) {
      margin: 2rem 0;
    }
    color: var(--cyan);
  }

  &__button {
    @include respond(phone) {
      width: 90%;
      border-radius: 5px;
    }

    width: 9rem;
    height: 4rem;
    margin-left: 20px;
    background-color: var(--cyan);
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: var(--cyan-light);
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
